@model IEnumerable<Test.Models.RolePermission>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Role) <!-- Change to display role name -->
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Permission) <!-- Change to display permission name -->
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Role.Name) <!-- Display Role Name -->
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Permission.Name) <!-- Display Permission Name -->
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { roleId = item.RoleId, permissionId = item.PermissionId })
                </td>
            </tr>
        }
    </tbody>
</table>